matplotlib==3.7.5
numpy==1.24.3
opencv_python==4.9.0.80
pandas==2.0.3
Pillow==11.0.0
scipy==1.14.1
SimpleITK==2.4.0
skimage==0.0
tensorflow==2.13.1
tensorflow_addons==0.21.0
tensorflow_probability==0.20.0
tqdm==4.66.2
